extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Listado de multas x propietario'
      
      table(class=['ui','table','celled'] id='tbl-list-multa')
        thead
          tr
            th='id_multa'
            th='fecha_multa'
            th='id_placa'
            th='descripcion_multa'
            th='estado_multa'
            th='valor_multa'
            th='cedula'
        tbody
          each multa in multas
            tr
              td(id='id_multa')=multa.id_multa
              td=multa.fecha_multa
              td=multa.id_placa
              td=multa.descripcion_multa
              td=multa.estado_multa
              td=multa.valor_multa
              td=multa.cedula
              
  script(src='/javascripts/multa.js')