extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Modificar multa'
      div(class='form-nuevomulta')
        form(class=['ui','form'] action='http://localhost:8888/multa/editarmulta' method='post')
          div(class=['ui', 'two', 'fields'])
            div(class=['ui','field'])
              label(for='id_multa')='id_multa'
              input(type='text' name='id_multa' value=multa[0].id_multa placeholder='id_multa' readonly=true)
            div(class=['ui','field'])
              label(for='fecha_multa')='fecha_multa'
              input(type='text' name='fecha_multa' value=multa[0].fecha_multa placeholder='fecha_multa' readonly=true)
          div(class=['ui', 'two', 'fields'])
            div(class=['ui','field'])
              label(for='id_placa')='placa'
              input(type='text' name='id_placa' value=multa[0].id_placa placeholder='placa')
            div(class=['ui','field'])
              label(for='descripcion_multa')='descripcion_multa'
              input(type='text' name='descripcion_multa' value=multa[0].descripcion_multa placeholder='descripcion_multa')
          div(class=['ui', 'two', 'fields'])
            div(class=['ui','field'])
              label(for='estado_multa')='estado_multa'
              input(type='text' name='estado_multa' value=multa[0].estado_multa placeholder='estado_multa')
            div(class=['ui','field'])
              label(for='valor_multa')='valor_multa'
              input(type='text' name='valor_multa' value=multa[0].valor_multa placeholder='valor_multa')
          div(class=['ui', 'two', 'fields'])
            div(class=['ui','field'])
              label(for='cedula')='cedula'
              input(type='text' name='cedula' value=multa[0].cedula placeholder='cedula' readonly=true)
            button(class=['ui','button','basic','black'])='Modificar multa'
            div(class=['ui','message','error'])
      if info != undefined
        div(class=['ui','message','succes'])
          i(class=['close','icon'])
          div(class='header')='multa registrada'
          p= info
  script(src='/javascripts/validacion.js')