extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Listado de multas'
      table(class=['ui','table','celled'] id='tbl-multa')
        thead
          tr
            th='id_multa'
            th='fecha_multa'
            th='id_placa'
            th='descripcion_multa'
            th='estado_multa'
            th='valor_multa'
            th='cedula'
            th='Acciones'
        tbody
          each multa in multas
            tr
              td(id='id_multa')=multa.id_multa
              td=multa.fecha_multa
              td=multa.id_placa
              td=multa.descripcion_multa
              td=multa.estado_multa
              td=multa.valor_multa
              td=multa.cedula
              td
                a(class=['ui', 'button','basic','icon'] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon'])
                a(class=['ui', 'button','basic','icon'] href='http://localhost:8888/multa/modificar/'+multa.id_multa data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['pencil icon'])
  script(src='/javascripts/multa.js')