extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Consultar multas por propietario'
      div(class='form-multaXPropietario')
        form(class=['ui','form'] action='http://localhost:8888/multa/consulta' method='post')
          div(class=['ui','field'])
            label(for='cedula')='numero de cedula'
            input(type='text' name='cedula' placeholder='cedula')
          
          button(class=['ui','button','basic','black'])='Consultar multas'
          div(class=['ui','message','error'])
      
  script(src='/javascripts/validacion.js')