extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Crear multa'
      div(class='form-nuevomulta')
        form(class=['ui','form'] action='http://localhost:8888/multa/crearmulta' method='post')
          div(class=['ui','field'])
            label(for='id_placa')='placa'
            input(type='text' name='id_placa' placeholder='placa')
          div(class=['ui','field'])
            label(for='descripcion_multa')='descripcion_multa'
            input(type='text' name='descripcion_multa' placeholder='descripcion_multa')
          div(class=['ui','field'])
            label(for='valor_multa')='valor_multa'
            input(type='text' name='valor_multa' placeholder='valor_multa')
          button(class=['ui','button','basic','black'])='Crear multa'
          div(class=['ui','message','error'])
      if info != undefined
        div(class=['ui','message','succes'])
          i(class=['close','icon'])
          div(class='header')='multa registrada'
          p= info
  script(src='/javascripts/validacion.js')