extends default

block content
  include templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h3(class=['ui', 'header', 'blue'])= 'Bienvenido al programa para control de multas'
      br
      br
      br
      center
      p(align='center')
      img(border='30', src='./images/transito.gif')
      