div(class=['ui','pointing','menu'])
  a(class='item',href='http://localhost:8888')='Inicio'
  a(class='item',href='http://localhost:8888/multa/multaXpropietario')='Consulta Multas Por Propietario'
  a(class='item',href='http://localhost:8888/propietario/nuevo')='Nuevo propietario'
  a(class='item',href='http://localhost:8888/propietario')='Ver propietarios'
  a(class='item',href='http://localhost:8888/vehiculo/nuevo')='Nuevo Vehiculo'
  a(class='item',href='http://localhost:8888/vehiculo')='Ver Vehiculos'
  a(class='item',href='http://localhost:8888/multa/nuevo')='Nueva Multa'
  a(class='item',href='http://localhost:8888/multa')='Ver multas'
  div(class=['right','menu'])
    div(class='item')
      div(class='form-multaXPropietario')
        form(class=['ui','form'] action='http://localhost:8888/multa/consulta' method='post')
          div(class=['ui','field'])
            label(for='cedula')='numero de cedula'
            input(type='text' name='cedula' placeholder='cedula')
          
          button(class=['ui','button','basic','black'])='Consultar multas'
          div(class=['ui','message','error'])



     