extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Modificar propietario'
      div(class='form-nuevoPropietario')
        form(class=['ui','form'] action='http://localhost:8888/propietario/editarpropietario' method='post')
          div(class=['ui','field'])
            label(for='cedula')='numero de cedula'
            input(type='text' name='cedula' placeholder='cedula' value=propietario[0].cedula readonly=true)
          div(class=['ui','field'])
            label(for='nombre')='nombre del propietario'
            input(type='text' name='nombre' placeholder='nombre' value=propietario[0].nombre)
          div(class=['ui','field'])
            label(for='apellido')='apellido del propeitario'
            input(type='text' name='apellido' placeholder='apellido' value=propietario[0].apellido)
          button(class=['ui','button','basic','black'])='Modificar Propietario'
          div(class=['ui','message','error'])
      
  script(src='/javascripts/validacion.js')