extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Crear propietario'
      div(class='form-nuevoPropietario')
        form(class=['ui','form'] action='http://localhost:8888/propietario/crearpropietario' method='post')
          div(class=['ui','field'])
            label(for='cedula')='numero de cedula'
            input(type='text' name='cedula' placeholder='cedula')
          div(class=['ui','field'])
            label(for='nombre')='nombre del propietario'
            input(type='text' name='nombre' placeholder='nombre')
          div(class=['ui','field'])
            label(for='apellido')='apellido del propeitario'
            input(type='text' name='apellido' placeholder='apellido')
          button(class=['ui','button','basic','black'])='Crear Propietario'
          div(class=['ui','message','error'])
      if info != undefined
        div(class=['ui','message','succes'])
          i(class=['close','icon'])
          div(class='header')='propietario registrado'
          p= info
  script(src='/javascripts/validacion.js')