extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Listado de propietarios'
      table(class=['ui','table','celled'] id='tbl-propietario')
        thead
          tr
            th='cedula'
            th='nombre'
            th='apellido'
            th='acciones'
        tbody
          each propietario in propietarios
            tr
              td(id='cedula')=propietario.cedula
              td=propietario.nombre
              td=propietario.apellido
              td
                a(class=['ui', 'button','basic','icon'] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon'])
                a(class=['ui', 'button','basic','icon'] href='http://localhost:8888/propietario/modificar/'+propietario.cedula data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['pencil icon'])
  script(src='/javascripts/propietario.js')