extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Modificar vehiculo'
      div(class='form-nuevovehiculo')
        form(class=['ui','form'] action='http://localhost:8888/vehiculo/editarvehiculo' method='post')
          div(class=['ui','field'])
            label(for='id_placa')='placa'
            input(type='text' name='id_placa' placeholder='placa' value=vehiculo[0].id_placa readonly=true)
          div(class=['ui','field'])
            label(for='modelo')='modelo del vehiculo'
            input(type='text' name='modelo' placeholder='modelo' value=vehiculo[0].modelo)
          div(class=['ui','field'])
            label(for='año')='año del vehiculo'
            input(type='text' name='año' placeholder='año' value=vehiculo[0].año)
          div(class=['ui','field'])
            label(for='cedula')='cedula del propietario'
            input(type='text' name='cedula' placeholder='cedula' value=vehiculo[0].cedula)
          button(class=['ui','button','basic','black'])='Modificar vehiculo'
          div(class=['ui','message','error'])
      
  script(src='/javascripts/validacion.js')