extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['ten', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Crear vehiculo'
      div(class='form-nuevovehiculo')
        form(class=['ui','form'] action='http://localhost:8888/vehiculo/crearvehiculo' method='post')
          div(class=['ui','field'])
            label(for='id_placa')='placa'
            input(type='text' name='id_placa' placeholder='placa')
          div(class=['ui','field'])
            label(for='modelo')='modelo del vehiculo'
            input(type='text' name='modelo' placeholder='modelo')
          div(class=['ui','field'])
            label(for='año')='año del vehiculo'
            input(type='text' name='año' placeholder='año')
          div(class=['ui','field'])
            label(for='cedula')='cedula del propietario'
            input(type='text' name='cedula' placeholder='cedula')
          button(class=['ui','button','basic','black'])='Crear vehiculo'
          div(class=['ui','message','error'])
      if info != undefined
        div(class=['ui','message','succes'])
          i(class=['close','icon'])
          div(class='header')='vehiculo registrado'
          p= info
  script(src='/javascripts/validacion.js')