extends ../default

block content
  include ../templates/nav
  div(class=['ui', 'container', 'grid', 'stackable'])
    div(class=['sixteen', 'wide', 'column'])
      h2(class=['ui', 'header', 'blue', 'dividing'])= 'Listado de vehiculos'
      table(class=['ui','table','celled'] id='tbl-vehiculo')
        thead
          tr
            th='placa'
            th='modelo'
            th='año'
            th='cedula'
            th='Acciones'
        tbody
          each vehiculo in vehiculos
            tr
              td(id='id_placa')=vehiculo.id_placa
              td=vehiculo.modelo
              td=vehiculo.año
              td=vehiculo.cedula
              td
                a(class=['ui', 'button','basic','icon'] href='#' data-inverted='' data-tooltip='Eliminar' data-position='top center' id='btn-eliminar')
                  i(class=['trash icon'])
                a(class=['ui', 'button','basic','icon'] href='http://localhost:8888/vehiculo/modificar/'+vehiculo.id_placa data-inverted='' data-tooltip='Modificar' data-position='top center')
                  i(class=['pencil icon'])
  script(src='/javascripts/vehiculo.js')